.carousel-container {
  padding-top: 25px;
  max-width: fit-content;
  margin: 0 auto;
  display: flex;
  min-height: 100%;
  overflow: hidden;

  @media only screen and (max-width: 600px) {
    flex-direction: column;
    width: 100%;
  }
}

.column-container {
  min-height: 100% !important;
  min-width: 100%;
  display: flex;

  &:empty {
    min-width: 0;
  }
}

.Column {
  background: #262c3f;
  width: 100%;
  border-top: solid 6px;
  border-radius: 5px;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  margin-right: 20px;
  height: 900px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.2s ease-in-out;

  &:nth-child(4n) {
    margin-right: 0px;
  }

  &:hover {
    background: #2c3248;
  }

  @media only screen and (max-width: 600px) {
    width: 100%;
    height: auto;
  }
}

.column-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  width: 100%;
  gap: 10px;
}

.column-content {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  grid-column-gap: 15px;
  flex-wrap: wrap;
  margin-top: 30px;
}

.title-container{
  display: flex;
  gap: 10px;

}

.category-title {
  font-weight: bold;
  display: block;
}

.left-button {
  width: 40px;
  height: 40px;
  background: #3a4461;
  position: absolute;
  z-index: 3;
  top: 400px;
  left: -20px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.right-button {
  width: 40px;
  height: 40px;
  background: #3a4461;
  position: absolute;
  z-index: 3;
  top: 400px;
  right: -20px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.job-card-container {
  overflow-y: scroll;
}

.pinned-container{
  margin-bottom: 15px;


  &:empty{
    display: none;
  }
}