.column-carousel {
  padding-top: 25px;
  max-width: 1300px;
  margin: 0 auto;
  overflow-x: scroll;
  display: flex;
  gap: 20px;
  overflow: hidden;
  min-height: 100%;

  @media only screen and (max-width: 600px) {
    flex-direction: column;
    width: 100%;
  }
}

.column-container {
  min-height: 100% !important;
  min-width: 100%;
  display: flex;
}

.Column {
  background: #262c3f;
  min-width: calc(25% - 15px);
  border-top: solid 6px;
  border-radius: 5px;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  margin-right: 20px;
  height: 900px;

  &:nth-child(4) {
    margin-right: 0;
  }

  transition: 0.2s ease-in-out;

  @media only screen and (max-width: 600px) {
    width: 100%;
    height: auto;
  }
}

.column-header {
  display: flex;
  justify-content: space-between;
  color: white;
}

.category-title {
  font-weight: bold;
  margin-bottom: 30px;
  display: block;
}

.left-button {
  width: 40px;
  height: 40px;
  background: #3a4461;
  position: absolute;
  z-index: 3;
  top: 400px;
  left: -20px;
  border-radius: 5px;
  cursor: pointer;
}

.right-button {
  width: 40px;
  height: 40px;
  background: #3a4461;
  position: absolute;
  z-index: 3;
  top: 400px;
  right: -20px;
  border-radius: 5px;
  cursor: pointer;
}

.job-card-container {
  overflow-y: scroll;
}
