.page-width {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}

header {
  height: 70px;
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  justify-content: center;
  h2 {
    color: white;
  }

  .header-wrap {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.avatar {
  height: 30px;
  width: 30px;
  background: rgb(219, 255, 173);
  border-radius: 100%;
  cursor: pointer;
  background-size: cover;
  background-position: center;
}

.name {
  color: white;
}

.profile-menu-container {
  position: relative;
}
.profile-menu {
  background: #38415e;
  position: absolute;
  width: 150px;
  right: 0;
  top: 40px;
  color: white;
  border-radius: 5px;
  z-index: 3;

  span {
    display: block;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    transition: 0.2s ease-in-out;
    font-size: 14px;

    &:hover {
      background: #124cb7;
      cursor: pointer;
    }
  }
}

.controls {
  border-top: solid 1px #303850;
  border-bottom: solid 1px #303850;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 20px;
  padding-bottom: 20px;

  .controls-wrap {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
}

.controls-label {
  margin-bottom: 15px;
  color: white;
  opacity: 50%;
  font-size: 14px;
}

.button-filled {
  background: #1145a7;
  border: 0;
  height: 40px;
  padding-left: 30px;
  padding-right: 30px;
  color: white;
  border-radius: 3px;
  font-weight: bold;
  box-shadow: 0 4px 8px 0 rgba(21, 21, 24, 0.3);
  cursor: pointer;
  transition: 0.2s ease-in-out;

  &:hover {
    background: #124cb7;
  }
}

.button-transparent {
  background: transparent;
  border: solid 1px #1145a7;
  height: 40px;
  padding-left: 30px;
  padding-right: 30px;
  color: #1145a7;
  border-radius: 3px;
  font-weight: bold;
  box-shadow: 0 4px 8px 0 rgba(21, 21, 24, 0.3);
  cursor: pointer;
  transition: 0.2s ease-in-out;

  &:hover {
    background: #124cb7;
    color: white;
  }
}

.controls-option-wrap {
  display: flex;
  flex-direction: column;
  width: max-content;
  min-height: 100%;
  max-width: 200px;
  width: 100%;
}

.search-container {
  width: 100%;
  max-width: 400px;
  position: relative;
}

.search {
  background: #262c3f;
  border: 0;
  border-radius: 5px;
  height: 40px;
  width: 100%;
  padding-left: 20px;
  color: white;
  outline: none;
  transition: 0.2s ease-in-out;
  font-size: 14px !important;

  &:focus {
    background: #2d344b;
  }

  &::placeholder {
    color: white;
    opacity: 25%;
  }
}

.search-results-container {
  width: 100%;
  z-index: 1;
  max-height: 280px;
  overflow-y: scroll;
  background: brown;
  position: absolute;
  margin-top: 15px;
  border-radius: 5px;
  display: none;
  flex-direction: column;
  border: solid 1px #23518a;

  .search-result {
    display: flex;
    justify-content: space-between;
    background: #262c3f;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    max-height: 300px;
    height: 100%;
    color: white;
    font-size: 14px;

    &:hover {
      background: #124cb7;
      .sub_heading {
        color: white;
      }
    }

    .job_number {
      margin-bottom: 2px;
    }

    .sub_heading {
      color: #3378cd;
      font-size: 14px;
      transition: 0.2s ease-in-out;
    }
  }
}

.no-jobs {
  width: 100%;
  color: #b5b5b5;
  text-align: center;
  margin-top: 50px;
}

.country_flag {
  font-size: 22px;
}

.switch_modal_container {
  height: 100%;
  width: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  z-index: 500;
  display: flex;
  justify-content: center;
  align-items: center;

  .switch_modal {
    background: #1d2131;
    width: 100%;
    max-width: 500px;
    border-radius: 5px;
    padding: 30px;
  }

  h1 {
    font-size: 20px;
    margin-bottom: 5px;
    color: white;
  }

  p {
    margin-bottom: 20px;
    color: white;
    font-size: 14px;
  }

  .button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 50px;

    button {
      &:nth-child(2) {
        margin-left: 20px;
      }
    }
  }
}

main {
  height: 100vh;
  padding-left: 5%;
  padding-right: 5%;
}

.overflow-wrap {
  position: relative;
}

.column-slide {
  height: 100%;
  width: 100%;
  display: flex;
  transition: 0.3s ease-in-out;
}
