* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #1d2131;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "Avenir-Book";
  src: url("./Fonts/Avenir-Book.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Avenir-Black";
  src: url("./Fonts/Avenir-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Avenir-Medium";
  src: url("./Fonts/Avenir-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Avenir-Light";
  src: url("./Fonts/Avenir-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

.medium{
  font-family: "Avenir-Medium";
}

.light{
  font-family: "Avenir-Light";
}

.bold{
  font-family: "Avenir-Black";
}

.normal{
  font-family: "Avenir-Book";
}